<header>
  <h1>Profile</h1>
  <ul>
    <li><a href=#>About</a></li>
    <li><a href=#>Bicycle</a></li>
  </ul>
</header>

<main>
  <%= image_tag "mainvisual.jpg" %>
  <h2>About</h2>
  <%= image_tag "about.jpg" %>
  <h3>KAKERU MIYAICHI</h3>
  <p>
    テキストテキストテキストテキストテキストテキストテキスト
    テキストテキストテキストテキストテキストテキストテキスト
    テキストテキストテキストテキストテキストテキストテキスト
  </p>
  <h2>Bicycle</h2>
  <ul>
    <li>
      <%= image_tag "bicycle1.jpg" %>
      <h3>タイトルタイトル</h3>
      <p>テキストテキストテキスト</p>
    </li>
    <li>
      <%= image_tag "bicycle2.jpg" %>
      <h3>タイトルタイトル</h3>
      <p>テキストテキストテキスト</p>
    </li>
    <li>
      <%= image_tag "bicycle3.jpg" %>
      <h3>タイトルタイトル</h3>
      <p>テキストテキストテキスト</p>
    </li>
  </ul>
</main>

<footer>
  <p>2020 Profile</p>
</footer>